src/*.exe
src/nextdex
src/nextdexd
src/test_nextdex
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.nextdex

# Compilation and Qt preprocessor part
*.qm
Makefile
nextdex-qt
NEXTDEX-Qt.app

# Unit-tests
Makefile.test
nextdex-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
